body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  min-width: 1100px;
  text-align: center;
  background-color: #101010;
}

.header {
  text-align: center;
  line-height: 14rem;
  height: 14rem;
  color: white;
  font-size: 3rem;
  background: url(https://media.giphy.com/media/6LCvNiac0J25G/giphy.gif) no-repeat top center;
  background-size: cover;
  
  span {
    margin: 0 2%;
    
    &.space {
      margin: 0 3%;
    }
  }
}

.pics-zone {
  display: none;
  padding: 5px 0;
  width: 75vw;
  text-align: left;
  min-width: 850px;
  
  &.is-shown {
    display: inline-block;
  }
  
  img {
    object-fit: cover;
    width: 30%;
    height: 200px;
    border-radius: 4px;
    margin: 5px;
    opacity: 0;
    transform-origin: left;
    
    &.show-pic {
      animation: showPic 400ms ease-in-out forwards;
    }
    
    @keyframes showPic {
      0% {
        transform: translateX(-50px);
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}

.nav-bar {
  background: black;
  padding: 0;
  margin: 0;
  
  li {
    margin: 3px 0;
    display: inline-block;
    border-radius: 3px;
    color: white;
    width: 200px;
    padding: 5px 40px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    
    &.selected {
      background: orangered;
//      color: black;
    }
  }
}

.side-bar {
  margin: 0;
  margin-top: 20px;
  margin-left: 2vw;
  padding: 0;
  width: 200px;
  color: white;
  diolioyhugsplay: inline-block;
  vertical-align: top;
  float: left;
//  border-right: 1px solid white;
  
  li {
    list-style: none;
    padding: 10px 20px;
    border-bottom: 1px grey solid;
    cursor: pointer;
    
    &:hover {
      transform: scale(1.05);
      transition: 100ms linear;
    }
    
    &.selected {
      border: 1px solid grey;
    }
  }
}

.focused {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #010101;
  
  img {
    position: relative;
    width: 70vw;
    top: 50vh;
    transform: translateY(-50%);
  }
}









footer {
  background: black;
  height: 2rem;
  line-height: 2rem;
  color: white;
}

















